@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

body {
    font-family: Helvetica, Arial, sans-serif;
}

.udc-logo {
    left: 0;
    width: auto;
    height: auto;
    overflow: hidden;
    float: left;
}

.logo-box {
    margin: 15px;
    overflow: hidden;
}

body.first .udc-logo > .logo-box > img {
    left: -100%;
}

.udc-logo > .logo-box > img {
    width: 22em;
    position: relative;
    transition: 3s ease;
    left: 0;
}

.logo-portada {
    width: 15em;
}

section.data-model img {
    max-width: 70%;
    max-height: 70%;
}

.nice-authors #authors {
    position: absolute;
    margin: 0;
    bottom: 0em;
    right: -2em;
    width: 15em;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 2s ease;
}

body.first.nice-authors #authors {
    position: absolute;
    bottom: calc(50% - 5.2em);
    right: calc(50% - 7.5em);
    margin: 0;
    width: 15em;
    padding: 0;
    text-align: center;
    font-size: inherit;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

body:not(.nice-authors) #authors {
    display: none!important;
}


.nice-authors .authors {
    visibility: hidden;
}

.reveal .slides > section > .logo-portada {
    margin: auto;
    border: none;
}

.reveal .slides > section .logo-portada > img {
    border: none;
    box-shadow: none;
}

.reveal h1, .reveal h2, .reveal h3 {
    margin-bottom: 0.6em;
}

.reveal dl {
    display: inline-block;
}

.reveal dl > * {
    text-align: left;
    margin-left: 0em;
}

.reveal dl > dt {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

.reveal dl > dd {
    display:: list-item;
    list-style: none;
    margin-left: 2em;
    margin-bottom: 0.3em;
}

.reveal .slides section .fragment.highlight-current-bold {
    opacity: 1;
}

.reveal .slides section .fragment.highlight-current-bold.current-fragment {
    font-weight: bold;
}


/* footer { */
/* 	bottom: 0px; */
/* 	width: 100%; */
/* 	text-align: center; */
/* 	font-family: sans-serif; */
/* 	color: #eeeeee; */
/* 	display:table; */
/* 	vertical-align: middle; */
/* 	z-index: 40; */
/* } */

/* footer > * { */
/* 	display:table-cell; */
/* 	vertical-align: middle; */
/* } */

footer li {
	list-style: none;
}

.reveal ul > li.inline {
	display: inline;
	margin-right: -5px;
	margin-left: none;
}
.reveal ul > li.inline:first-child:before {
    content: ""!important
}

.reveal ul > li.inline:before {
    content: ", "
}

.reveal footer {
	font-size: 0.8em;
	position:relative;
	bottom: -100px;
}


pre {
    -moz-tab-size:    4;
    -webkit-tab-size: 4;
    -o-tab-size:      4;
    -ms-tab-size:     4;
    tab-size:         4;
}

.reveal pre code {
  max-height: 500px;
  overflow: visible;
}
